.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.fixed-size-header {
  background-color: #fff2cc !important;
}

.resizable-header {
  background-color: #4472c4 !important;
  color: white;
}

.legend-box {
  display: inline-block;
  border: 1px solid #aaa;
  height: 15px;
  width: 15px;
  vertical-align: text-top;
}

.legend-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 1rem;
}

.cell-span {
  background-color: #2244cc44;
}
