.dot-text-container {
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(192, 192, 192, 1); /* Màu của dot */
  margin-right: 8px; /* Khoảng cách giữa dot và text */
}

.text {
  font-size: 16px; /* Cỡ chữ của text */
  margin: auto;
}
